body {
    font-family: Helvetica, sans-serif;
}

.page_title {
    font: 18pt Georgia, serif;
    color: darkred;
}

.section_container {
    width: 100%;
}

.section_title {
    font: 14pt Georgia, serif;
    color: darkred;
}

.section_entry {
    float: left;
}

.report_timestamp {
    color: darkred;
    font-weight: bold;
}

.function_src {
    text-align: left;
    background: white;
}

.resume_table {
}

.resume_header_entry {
    color: black;
}

.resume_number_entry {
    color: darkred;
    font-weight: bold;
    text-align: right;
}

.ranges_table {
    border-spacing: 0px;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.ranges_header_entry {
    padding: 5px;
    border-bottom: solid 1px black;
    font-size: 1em;
    font-weight: bold;
    color: darkred;
    text-align: left;
}

.ranges_entry {
}

.ranges_entry_appalling {
	background: #ff2d00;
}

.ranges_entry_very_poor {
	background: #ff5a00;
}

.ranges_entry_poor {
	background: #ff8800;
}

.ranges_entry_mediocre {
	background: #ffb600;
}

.ranges_entry_good {
	background: #ffff00;
}

.ranges_entry_very_good {
	background: #b6ff00;
}

.ranges_entry_excellent {
	background: #88ff00;
}

.ranges_entry_outstanding {
	background: #54c2e1;
}


.function_table {
    border-spacing: 0px;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
}

.function_table_caption {
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.function_table_header {
}


.function_table_header_entry {
    padding: 5px;
    border-bottom: solid 1px black;
    font-size: 1em;
    font-weight: bold;
    color: darkred;
    text-align: left;
}

.function_entry {
}


.function_entry_appalling {
	background: #ff2d00;
}

.function_entry_very_poor {
	background: #ff5a00;
}

.function_entry_poor {
	background: #ff8800;
}

.function_entry_mediocre {
	background: #ffb600;
}

.function_entry_good {
	background: #ffff00;
}

.function_entry_very_good {
	background: #b6ff00;
}

.function_entry_excellent {
	background: #88ff00;
}

.function_entry_outstanding {
	background: #54c2e1;
}


.function_entry_name {
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    text-valign: top;
    border-top: solid 1px black;
    padding: 3px;
}

.function_entry_cyclo {
    font-size: 1em;
    text-align: right;
    text-valign: top;
    border-top: solid 1px black;
    padding: 3px;
}

.function_entry_number {
    font-size: 1em;
    text-align: right;
    text-valign: top;
    border-top: solid 1px black;
    padding: 3px;
}

.function_entry_filename {
    font-size: 1em;
    text-align: left;
    text-valign: top;
    border-top: solid 1px black;
    padding: 3px;
}
